
Backend/EnviarEmailprbJony/obj/project.nuget.cache
Backend/EnviarEmailprbJony/obj/project.assets.json
Backend/EnviarEmailprbJony/obj/EnviarEmailprbJony.csproj.nuget.g.targets
Backend/EnviarEmailprbJony/obj/EnviarEmailprbJony.csproj.nuget.g.props
Backend/EnviarEmailprbJony/obj/EnviarEmailprbJony.csproj.nuget.dgspec.json
Backend/EnviarEmailprbJony/obj/Debug/net8.0/EnviarEmailprbJony.GlobalUsings.g.cs
Backend/EnviarEmailprbJony/obj/Debug/net8.0/EnviarEmailprbJony.GeneratedMSBuildEditorConfig.editorconfig
Backend/EnviarEmailprbJony/obj/Debug/net8.0/EnviarEmailprbJony.assets.cache
Backend/EnviarEmailprbJony/obj/Debug/net8.0/EnviarEmailprbJony.AssemblyInfoInputs.cache
Backend/EnviarEmailprbJony/obj/Debug/net8.0/EnviarEmailprbJony.AssemblyInfo.cs
Backend/EnviarEmailprbJony/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
